@inject IConfiguration configuration

@{
    var TemplateKey = configuration.GetSection("TemplateKey").Value;
    Layout = $"/Views/{TemplateKey}/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "Strona główna";
}

<vc:main-carousel/>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="main-description p-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mt-5 secondary-description">
        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-gym.png" class="card-img-top" alt="card-gym"/>
                <div class="card-body">
                    <h4 class="card-title">Siłownia</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Zobacz</a>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-fitness.png" class="card-img-top" alt="card-gym"/>
                <div class="card-body">
                    <h4 class="card-title">Zajęcia Fitness</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Zobacz</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-crossfit.png" class="card-img-top" alt="card-gym" />
                <div class="card-body">
                    <h4 class="card-title">Crossfit</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Zobacz</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-massage.png" class="card-img-top" alt="card-gym" />
                <div class="card-body">
                    <h4 class="card-title">Crossfit</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Zobacz</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-pool.png" class="card-img-top" alt="card-gym" />
                <div class="card-body">
                    <h4 class="card-title">Basen</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Zobacz</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-trainer.png" class="card-img-top" alt="card-gym" />
                <div class="card-body">
                    <h4 class="card-title">Opieka trenera personalnego</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Zobacz</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="main-description p-5">
                <figure class="text-center p-5">
                    <blockquote class="blockquote">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-3 secondary-description">
                        Some famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="card border-0 m-5">
                <div class="card-body text-center secondary-description">
                    <h2 class="card-title">Pojedyńcza Wejściówka</h2>
                    <p class="card-text m-4">Możesz korzystać ze wszystkich usług przez 24 godziny. W skład pakietu wchodzi:</p>
                    <ul class="text-decoration">
                        <li> ✅ Usługa 1</li>
                        <li> 💓 Usługa 2</li>
                        <li> ☯ usługa 3</li>
                    </ul>
                    <a href="#"class="btn btn-danger btn-lg mt-2">Kup wejściówkę</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 m-5">
                <div class="card-body text-center secondary-description">
                    <h2 class="card-title">Pmiesięczny karnet</h2>
                    <p class="card-text m-4">Miesięczny dostęp do wszystkich usług. W skład pakietu wchodzi:</p>
                    <ul class="text-decoration">
                        <li> ✅ Usługa 1</li>
                        <li> 💓 Usługa 2</li>
                        <li> ☯ usługa 3</li>
                        <li> ✅ Usługa 4</li>
                        <li> 💓 Usługa 5</li>
                    </ul>
                    <a href="#" class="btn btn-danger btn-lg mt-2">Kup karnet</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="main-description p-5">
                <figure class="text-center p-5">
                    <blockquote class="blockquote">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-3 secondary-description">
                        Some famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>