html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.main-navbar {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

.main-description {
    font-size: 1.12rem;
}

.secondary-description {
    font-size: 1.1rem;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.no-decoration {
    list-style-type: none;
}